[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
schemdraw = "*"
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
sphinx-sitemap = "*"
sphinx-design = "*"
sphinx-copybutton = "*"
myst-parser = "*"
matplotlib = "*"
pandas = "*"
keithley2600 = "*"
tqdm = "*"
scipy = "*"
shepherd-core = "*"

[dev-packages]

[pipenv]
allow_prereleases = false
