[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
schemdraw = "*"
# DOCs
sphinx = "*"
sphinx-click = "*"
sphinx-rtd-theme = "*"
sphinx-sitemap = "*"
sphinx-design = "*"
sphinx-copybutton = "*"
#sphinx-autodoc2  # TODO: https://myst-parser.readthedocs.io/en/latest/intro.html#extending-sphinx
myst-parser = "*"
matplotlib = "*"
pandas = "*"
keithley2600 = "*"
tqdm = "*"

[dev-packages]

[pipenv]
allow_prereleases = false
